.main
{
    margin-bottom: 38px;

    @include lg
    {
        margin-bottom: 59px;
    }
    @include md
    {
        margin-top: -$gap;
    }
    .site-search
    {
        margin-bottom: $gap * 3;
    }

    .user-login
    {
        margin-bottom: $gap * 4;
    }
}


.new-films,
.top-films
{
    &-row
    {
        margin-right: -7.5px;
        margin-bottom: -15px;
        margin-left: -7.5px;
    }
    &-item
    {
        margin-bottom: 15px;
        padding-right: 7.5px;
        padding-left: 7.5px;

        &__image
        {
            @include md
            {
                width: 228px;
            }
            @include sm
            {
                width: 576px;
            }
        }

        &__thumbnail
        {
            margin-bottom: 0;

            transition: background-color .25s;
        }

        .thumbnail
        {
            margin-bottom: 0;
        }

        &:hover
        {
            .thumbnail
            {
                background-color: $color-accent;
            }
            h4
            {
                color: $color-light;
            }
        }
        &__title
        {
            font-weight: bold;

            margin: 0;

            text-align: center;
        }
    }
}

.news-films-item__title
{
    margin-bottom: 10px;

    transition: color .25s;

    color: darken($color-primary, 4%);

    @include lg
    {
        width: 600px;
    }
    @include md
    {
        width: auto;
    }
}



.news-films-item
{
    margin-bottom: 28px;

    @include lg
    {
        margin-bottom: 50px;
    }
    @include md
    {
        margin-bottom: 50px;
    }

    &:hover
    {
        .thumbnail
        {
            background-color: rgba($color-accent, .7);
        }
        h3
        {
            color: $color-accent;
        }
        .btn
        {
            background-color: $color-accent;
        }
    }
        &_image {
        width: 262.484px;

            @include lg
            {
                width: 185.547px;
            }
            @include md
            {
                width: 220px;
            }
            @include sm
            {
                width: 546px;
                margin-bottom: 1px;
            }

    }


    &__text
    {
        text-align: justify;
        p
        {
            width: 555px;
            margin-left: 19.5px;

            @include lg
            {
                width: 401.094px;
            }
            @include md
            {
                margin-left: 20px;
                width: 470px;
            }
            @include sm
            {
                width: 546px;
                margin: 0;
            }
        }
    }

    &__button
    {
        margin-left: 479px;

        @include lg
        {
            margin-left: 326px;
        }
        @include md
        {
            margin-left: 395px;
        }
        @include sm
        {
            margin-top: 10px;
            margin-left: 451px;
        }
    }

}

.news-films-item:last-child
{
    margin-top: 50px;
    @include sm
    {
        margin-bottom: 51px;
    }
    .news-films-item_image {
        @include sm
        {
        margin-bottom: 0px;
        }
    }
}
