.header-logo__title, .header-logo__discription {
  text-shadow: 0 0 5px #020202, 0 0 20px black;
}

.left-sidebar {
  margin-bottom: 79.99999px;
}

.navbar-inverse {
  margin-bottom: 0;
  border-color: transparent;
  background-color: #191919;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #053159;
}

.navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #517ba2;
}

.navbar-inverse .navbar-nav > li > a {
  -webkit-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
  background-color: #165690;
}

.navbar-header {
  text-align: center;
}

.navbar-toggle {
  float: none;
  margin-right: 0;
}

.panel {
  margin-bottom: 30px;
  border: none;
  background-color: #f1f1f1;
}

.panel-info > .panel-heading {
  color: #fff;
  border: none;
  background-color: #df8a13;
}

.panel-title {
  font-size: 1.2rem;
  letter-spacing: .1em;
}

.panel-body {
  border: 1px solid #dddddd;
  border-radius: 0 0 4px 4px;
}

.input-lg,
.input-group-lg > .form-control {
  font-size: 14px;
}

.media-list {
  margin-bottom: 0;
}

.embed-responsive {
  margin-bottom: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
  overflow-y: scroll;
}

a {
  color: #165690;
}

a:hover, a:focus {
  text-decoration: none;
  color: #df8a13;
}

h1,
h2 {
  font-family: "PT Serif", serif;
  position: relative;
  width: 100%;
  margin: -7.5px 0 45px;
}

h1::after,
h2::after {
  position: absolute;
  width: 100%;
  margin-left: 15px;
  content: '';
  border-bottom: 3px solid rgba(223, 138, 19, 0.5);
}

h2 {
  font-size: 2.5rem;
  margin: 60px 0 45px 45px;
}

h2::before {
  position: absolute;
  top: 10px;
  left: -50px;
  width: 35px;
  content: '';
  border-top: 3px solid rgba(223, 138, 19, 0.5);
}

section {
  overflow-x: hidden;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

.header {
  margin-bottom: 80px;
}

.header-logo {
  padding: 100px 0;
  text-align: center;
  background-color: #232323;
  background-image: url(../img/header-bg.jpg);
  background-position: center center;
  background-size: cover;
}

.header-logo__title {
  font-family: "PT Serif", serif;
  font-size: 3.5rem;
  display: block;
  letter-spacing: .33em;
  color: #df8a13;
}

.header-logo__discription {
  font-size: 1.15rem;
  display: block;
  letter-spacing: .2em;
  color: #fff;
}

.main {
  margin-bottom: 38px;
}

.main .site-search {
  margin-bottom: 45px;
}

.main .user-login {
  margin-bottom: 60px;
}

.new-films-row,
.top-films-row {
  margin-right: -7.5px;
  margin-bottom: -15px;
  margin-left: -7.5px;
}

.new-films-item,
.top-films-item {
  margin-bottom: 15px;
  padding-right: 7.5px;
  padding-left: 7.5px;
}

.new-films-item__thumbnail,
.top-films-item__thumbnail {
  margin-bottom: 0;
  -webkit-transition: background-color .25s;
  -o-transition: background-color .25s;
  transition: background-color .25s;
}

.new-films-item .thumbnail,
.top-films-item .thumbnail {
  margin-bottom: 0;
}

.new-films-item:hover .thumbnail,
.top-films-item:hover .thumbnail {
  background-color: #df8a13;
}

.new-films-item:hover h4,
.top-films-item:hover h4 {
  color: #fff;
}

.new-films-item__title,
.top-films-item__title {
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.news-films-item__title {
  margin-bottom: 10px;
  -webkit-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
  color: #134b7e;
}

.news-films-item {
  margin-bottom: 28px;
}

.news-films-item:hover .thumbnail {
  background-color: rgba(223, 138, 19, 0.7);
}

.news-films-item:hover h3 {
  color: #df8a13;
}

.news-films-item:hover .btn {
  background-color: #df8a13;
}

.news-films-item_image {
  width: 262.484px;
}

.news-films-item__text {
  text-align: justify;
}

.news-films-item__text p {
  width: 555px;
  margin-left: 19.5px;
}

.news-films-item__button {
  margin-left: 479px;
}

.news-films-item:last-child {
  margin-top: 50px;
}

.illusion-description {
  min-height: 20px;
  margin-bottom: 18px;
  padding: 18px 18.5px 18.5px 33px;
  text-align: center;
  letter-spacing: .005em;
  background-color: #f1f1f1;
}

.illusion-description-item {
  display: inline-block;
  font-size: 1.2rem;
  margin-right: 15px;
}

.illusion-description-badge {
  font-size: .95rem;
}

.film-discription {
  margin-top: 20px;
}

.film-discription .film-discription-text {
  padding-bottom: 9px;
}

.review-film-persone {
  font-size: 1rem;
  padding-top: 2px;
  padding-bottom: 2px;
  letter-spacing: .0015em;
}

.review-film-text p {
  padding: 15px;
}

.review-film-item {
  margin-bottom: 30px;
}

.comments-films {
  margin-bottom: 41.5px;
}

.comments-films textarea {
  padding: 7px 12px 25px 12px;
}

.comments-films__button {
  margin-left: 731px;
}

.vertical-slider {
  overflow: hidden;
  border-radius: 4px;
}

.vertical-slider img {
  width: 100%;
}

.site-news-item {
  position: relative;
  clear: both;
}

.site-news-item:not(:last-child) {
  min-height: 85px;
  margin-bottom: 15px;
}

.site-news-item:not(:last-child)::after {
  position: absolute;
  right: 0;
  bottom: -5px;
  width: calc(100% - 85px);
  height: 1px;
  content: '';
  background-color: #dddddd;
}

.site-news-item__image {
  float: left;
  width: 75px;
  margin: 0 10px 10px 0;
  -webkit-transition: background-color .25s;
  -o-transition: background-color .25s;
  transition: background-color .25s;
}

.site-news-item__title {
  margin-bottom: 10px;
}

.site-news-item__title a {
  -webkit-transition: color .5s;
  -o-transition: color .5s;
  transition: color .5s;
  font-size: 1rem;
  line-height: 1.5rem;
  display: -webkit-box;
  overflow: hidden;
  height: 50px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.site-news-item__date {
  font-size: .8rem;
  text-align: right;
  color: #909090;
}

.site-news-item:hover .site-news-item__title a {
  color: #df8a13;
}

.site-news-item:hover .site-news-item__image {
  border-color: #df8a13;
  background-color: #df8a13;
}

.top-films-body {
  padding-right: 0;
  padding-left: 0;
}

.top-films-list {
  position: relative;
  margin-bottom: 0;
}

.top-films-list__link {
  margin-right: -1px;
  margin-left: -1px;
  padding: 10px 50px 10px 15px;
  color: #165690 !important;
  border-top: 1px solid #dddddd;
  border-right: none;
  border-bottom: none;
  border-left: none;
  background-color: transparent;
}

.top-films-list__link:first-child {
  border-top: none;
  border-radius: 0;
}

.top-films-list__link:last-child {
  border-radius: 0;
}

.top-films-list__link:hover, .top-films-list__link:focus {
  color: #fff !important;
  background-color: #df8a13 !important;
}

.top-films-list__link:hover .badge, .top-films-list__link:focus .badge {
  background-color: #232323;
}

.top-films-list__badge {
  position: absolute;
  top: 29%;
  right: -5.5px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer {
  background-color: #232323;
}

.footer-information {
  margin: 34.5px 0 10px 0;
  color: #fff;
}

.footer-information-list {
  max-width: 262.5px;
  margin-right: 15px;
  margin-left: 15px;
}

.footer-information__title {
  font-size: 1.125rem;
  display: block;
  margin-right: -15px;
}

.footer-information__link {
  font-size: 1rem;
  display: block;
  padding: .5px 0;
  color: #7c7c7c !important;
  border: none;
  background-color: transparent;
}

.footer-information__link:hover, .footer-information__link:focus {
  color: #fff !important;
  background-color: transparent !important;
}

.footer-information__discription {
  font-weight: bold;
  display: block;
  margin-top: 9px;
  text-align: center;
}

@media (min-width: 576px) {
  h1,
  h2 {
    font-size: 3rem;
  }
  h1::after,
  h2::after {
    bottom: 9px;
  }
  h2 {
    font-size: 2.5rem;
  }
  h2::after {
    bottom: 7px;
  }
  h2::before {
    bottom: 8px;
  }
}

@media (min-width: 768px) {
  .navbar-inverse .navbar-nav > li > a {
    border-radius: 4px;
  }
  .navbar-left li {
    margin: 5px 5px 5px 0;
  }
  .navbar-right li {
    margin: 5px 0 5px 5px;
  }
}

@media (max-width: 1199.8px) {
  .main {
    margin-bottom: 59px;
  }
  .news-films-item__title {
    width: 600px;
  }
  .news-films-item {
    margin-bottom: 50px;
  }
  .news-films-item_image {
    width: 185.547px;
  }
  .news-films-item__text p {
    width: 401.094px;
  }
  .news-films-item__button {
    margin-left: 326px;
  }
  .comments-films {
    margin-bottom: 20px;
  }
  .comments-films__button {
    margin-left: 501px;
  }
  .footer-information {
    margin-top: 35px;
    margin-left: 11px;
  }
  .footer-information-list {
    margin: 0;
  }
  .footer-information__title {
    margin-bottom: 10px;
  }
  .footer-information__discription {
    margin-top: 29px;
    margin-left: -30px;
  }
}

@media (max-width: 991.8px) {
  .panel-body .btn {
    font-size: 18px;
    line-height: 1.3333333;
    padding: 10px 16px;
  }
  .main {
    margin-top: -15px;
  }
  .new-films-item__image,
  .top-films-item__image {
    width: 228px;
  }
  .news-films-item__title {
    width: auto;
  }
  .news-films-item {
    margin-bottom: 50px;
  }
  .news-films-item_image {
    width: 220px;
  }
  .news-films-item__text p {
    width: 470px;
    margin-left: 20px;
  }
  .news-films-item__button {
    margin-left: 395px;
  }
  .illusion-description {
    padding: 18px 18.5px 19px 33px;
  }
  .illusion-description-item {
    margin-right: 14.5px;
  }
  .comments-films {
    margin-bottom: 80px;
  }
  .comments-films__button {
    margin-left: 604px;
  }
  .footer {
    margin-top: -1px;
  }
  .footer-information-list {
    margin-right: 114.5px;
    margin-bottom: 9px;
    margin-left: -2px;
  }
  .footer-information__title {
    margin-bottom: 10px;
  }
  .footer-information__discription {
    margin-top: 20px;
    margin-left: -34px;
  }
}

@media (max-width: 767.8px) {
  .navbar-inverse .navbar-nav > li > a {
    text-align: center;
  }
  .navbar-left {
    margin-bottom: 0;
  }
  .navbar-right {
    margin-bottom: 0;
  }
  .media-body {
    display: block;
  }
  .new-films-item__image,
  .top-films-item__image {
    width: 576px;
  }
  .news-films-item_image {
    width: 546px;
    margin-bottom: 1px;
  }
  .news-films-item__text p {
    width: 546px;
    margin: 0;
  }
  .news-films-item__button {
    margin-top: 10px;
    margin-left: 451px;
  }
  .news-films-item:last-child {
    margin-bottom: 51px;
  }
  .news-films-item:last-child .news-films-item_image {
    margin-bottom: 0;
  }
  .comments-films__button {
    margin-left: 430px;
  }
  .footer-information-list {
    margin-right: 36.5px;
    margin-left: -11px;
  }
  .footer-information-list:nth-child(even) {
    width: 250px;
    margin-right: 0;
    margin-bottom: 9px;
    padding-right: 0;
  }
  .footer-information__title {
    margin-bottom: 10px;
  }
  .footer-information__discription {
    margin-left: -11px;
  }
}

@media (max-width: 575.8px) {
  h1,
  h2 {
    font-size: 2rem;
  }
  h1::after,
  h2::after {
    bottom: 8px;
  }
  h2 {
    font-size: 2.5rem;
  }
  h2::after {
    bottom: 6px;
  }
  h2::before {
    bottom: 6px;
  }
}
